<!DOCTYPE html>
<html>
    <head>
        <title>Upload Files</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/uploadFiles" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            <input type="file" name="myfile" />
            <input type="submit" name="upload" />
        </form>
    </body>
</html>
